html, body{
	width: 100%;
	height:100%;
    background-color: #fffef4;
}

.skrollr-container{
	width: 100%;
	height:100%;
	overflow:hidden;
}

.sections{
	position:fixed;
	width:100%;
	height:100%;
	top:0;
	left:0;
	
}

.section{
	position:absolute;
	top:0;
	left:0;
	width:50%;
	height:50%;
}

.next{
    width: 100vw;
    height: 5vh;
    position: fixed;
    top: 47.5vh;
    left: 47.5vw;
    z-index: 1000;
    background-color: transparent;
    text-align: center;
    padding-top: 2vh;
    transform: rotate(90deg);

}



a{
    font-family: 'Cutive Mono', monospace;
    text-align: center;
    font-size: 1rem;
    letter-spacing: 0.6px;
    text-decoration: none;
    color: black;
    transform: rotate(90deg);
}

a:visited{
    color: black;
}

a:hover{
    color: #fffef4;
}
#helper{
	/*display:none;*/
	position:absolute;
	left:0;
	top:0;
	height:400%;
	width:20px;
}

#progress-bar{
    position: absolute;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: #edc275;   
}

#two{
    height: 2vh;
}


::-webkit-scrollbar { 
    display: none; 
}

/*
.marker{
	width:100%;
	height:25%;
	border: 2px solid black;
}
*/

.spin{
	position:fixed;
	width:45%;
	height:160px;
	top:33%;
	left:50%;
	background-color: #FC474C;
    z-index: 99;
}

.circle1{
    position: fixed;
    top: 50vh;
    left: 20vw;
    background-color: #FC474C;
    width: 170px;
    height: 170px;
    border-radius: 100%;
    z-index: 99;
}

.rectangle1{
    width: 100vw;
    height: 10vw;
    position: fixed;
    top: 0;
    left: 0;
}


.rectangle201{
    background-color: #FC474C;
    width: 20vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    
}

.rectangle202{
    background-color: #FC474C;
    width: 20vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 20vw;
    z-index: 99;
}

.rectangle203{
    background-color: #FC474C;
    width: 20vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 40vw;
    z-index: 99;  
}

.rectangle204{
    background-color: #FC474C;
    width: 20vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 60vw;
    z-index: 99;  
}

.rectangle301{
    background-color: #FC474C;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left:0;
    border-radius: 100%;
    z-index: 99;  
}

.rectangle401{
    background-color: #FC474C;
    width: 50vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 50vw;
    z-index: 99;
}

.rectangle701{
    background-color: #FC474C;
    width: 100vw;
    height: 25vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

.circle801{
    background-color: #FC474C;
    width: 80vw;
    height: 60vh;
    position: fixed;
    z-index: 99;
    border-radius: 100%;
    transform: translate(50%, 50%);
    left: 10%;
    
}

.rectangle901{
    width: 50vw;
    height:50vw;
    background-color: #FC474C;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
}

.circle1001{
    width: 50vw;
    height: 100vh;
    background-color: #FC474C;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    border-radius: 100%;
}
.circle1002{
    width: 50vw;
    height: 100vh;
    margin-left: 50vw;
    background-color: #FC474C;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    border-radius: 100%;
}

.rectangle1101{
    width: 50vw;
    height: 100vh;
    background-color: #FC474C;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
}
.rectangle1102{
    width: 51vw;
    height: 100vh;
    margin-left: 49vw;
    background-color: #FC474C;
    position: fixed;
    z-index: 99;
    top: 0;
}

.rectangle1201{
    width: 20vw;
    height: 100vh;
    margin-left: 0vw;
    background-color: #FC474C;
    position: fixed;
    z-index: 99;
    left: 0;
    top:0;
}

.rectangle1202{
    width: 20vw;
    height: 100vh;
    margin-left: 20vw;
    background-color: #FC474C;
    position: fixed;
    z-index: 99;
    left: 0;
    top:0;
}

.rectangle1203{
    width: 20vw;
    height: 100vh;
    margin-left: 40vw;
    background-color: #FC474C;
    position: fixed;
    z-index: 99;
    left: 0;
    top:0;
}

.rectangle1204{
    width: 20vw;
    height: 100vh;
    margin-left: 60vw;
    background-color: #FC474C;
    position: fixed;
    z-index: 99;
    left: 0;
    top:0;
}

.rectangle1205{
    width: 20vw;
    height: 100vh;
    margin-left: 80vw;
    background-color: #FC474C;
    position: fixed;
    z-index: 99;
    left: 0;
    top:0;
}

.rectangle1301{
    left: 0;
    height: 50vh;
    width: 10vw;
    background-color: #FC474C;
    position: fixed;
    top: 0;
    z-index: 99;
}

.rectangle1302{
    margin-left: 20vw;
    height: 50vh;
    width: 10vw;
    background-color: #FC474C;
    position: fixed;
    top: 0;
    z-index: 99;
}

.rectangle1303{
    margin-left: 40vw;
    height: 50vh;
    width: 10vw;
    background-color: #FC474C;
    position: fixed;
    top: 0;
    z-index: 99;
}

.rectangle1304{
    margin-left: 60vw;
    height: 50vh;
    width: 10vw;
    background-color: #FC474C;
    position: fixed;
    top: 0;
    z-index: 99;
}

.rectangle1305{
    margin-left: 80vw;
    height: 50vh;
    width: 10vw;
    background-color: #FC474C;
    position: fixed;
    top: 0;
    z-index: 99;
}


.rectangle1401{
    height: 100vh;
    width: 10vh;
    background-color: #FC474C;
    position: fixed;
    top: 0;
    left: 0vw;
    z-index: 99;
}


.rectangle1702{
    width: 26vw;
    height: 50vh;
    position: fixed;
    background-color: #FC474C;
    z-index: 99;
    top: 0;
    left: 0;
}

.rectangle1703{
    width: 25vw;
    height: 50vh;
    position: fixed;
    margin-top: 0vh;
    margin-left: 25vw;
    background-color: #FC474C;
    z-index: 99;
    top: 0;
}

.rectangle1704{
    width: 25vw;
    height: 50vh;
    position: fixed;
    margin-top: 0vh;
    margin-left: 50vw;
    background-color: #FC474C;
    z-index: 99;
    top: 0;
}

.rectangle1705{
    width: 25vw;
    height: 50vh;
    position: fixed;
    margin-top: 0vh;
    margin-left: 75vw;
    background-color: #FC474C;
    z-index: 99;
    top: 0;
}


.rectangle1801{
    width: 100vw;
    height: 50vh;
    position: fixed;
    margin-top: 50vh;
    background-color: #FC474C;
    z-index: 99;
    top: 0;
    left: 0;
    border-radius: 500px;
}
.rectangle1802{
    width: 100vw;
    height: 50vh;
    position: fixed;
    margin-top: 0vh;
    background-color: #FC474C;
    z-index: 99;
    top: 0;
    left: 0;
    border-radius: 500px;
}

.rectangle2101{
    width: 20vw;
    height: 50vh;
    position: fixed;
    background-color: #FC474C;
    top: 0;
    left: 0;
    z-index: 99;
}

.rectangle2102{
    width: 20vw;
    height: 50vh;
    margin-left: 20vw;
    position: fixed;
    background-color: #FC474C;
    top: 0;
    left: 0;
    z-index: 99;
}

.rectangle2103{
    width: 20vw;
    height: 50vh;
    margin-left: 40vw;
    position: fixed;
    background-color: #FC474C;
    top: 0;
    left: 0;
    z-index: 99;
}

.rectangle2104{
    width: 20vw;
    height: 50vh;
    margin-left: 60vw;
    position: fixed;
    background-color: #FC474C;
    top: 0;
    left: 0;
    z-index: 99;
}

.rectangle2105{
    width: 20vw;
    height: 50vh;
    margin-left: 80vw;
    position: fixed;
    background-color: #FC474C;
    top: 0;
    left: 0;
    z-index: 99;
}



.rectangle2106{
    width: 20vw;
    height: 50vh;
    margin-top: 50vh;
    margin-left: 0vw;
    position: fixed;
    background-color: #FC474C;
    top: 0;
    left: 0;
    z-index: 99;
}

.rectangle2107{
    width: 20vw;
    height: 50vh;
    margin-top: 50vh;
    margin-left: 20vw;
    position: fixed;
    background-color: #FC474C;
    top: 0;
    left: 0;
    z-index: 99;
}

.rectangle2108{
    width: 20vw;
    height: 50vh;
    margin-top: 50vh;
    margin-left: 40vw;
    position: fixed;
    background-color: #FC474C;
    top: 0;
    left: 0;
    z-index: 99;
}

.rectangle2109{
    width: 20vw;
    height: 50vh;
    margin-top: 50vh;
    margin-left: 60vw;
    position: fixed;
    background-color: #FC474C;
    top: 0;
    left: 0;
    z-index: 99;
}

.rectangle2110{
    width: 20vw;
    height: 50vh;
    margin-top: 50vh;
    margin-left: 80vw;
    position: fixed;
    background-color: #FC474C;
    top: 0;
    left: 0;
    z-index: 99;
}

.rectangle2501{
    width: 33.33vw;
    height: 100vh;
    background-color: #FC474C;
    position: fixed;
    border-radius: 400px;
    z-index: 99;
    top:0;
    left:0;
}
.rectangle2502{
    width: 33.33vw;
    height: 100vh;
    background-color: #FC474C;
    position: fixed;
    border-radius: 400px;
    z-index: 99;
    top:0;
    left:33.33vw;
}
.rectangle2503{
    width: 33.33vw;
    height: 100vh;
    background-color: #FC474C;
    position: fixed;
    border-radius: 400px;
    z-index: 99;
    top:0;
    left:66.66vw;
}


.rectangle2701{
    width: 16.66vw;
    height: 50vh;
    background-color: #FC474C;
    position: fixed;
    border-radius: 400px;
    z-index: 99;
    top:25vh;
    left:16.66vw;
    transform: scale(0.5);
}
.rectangle2702{
    width: 16.66vw;
    height: 50vh;
    background-color: #FC474C;
    position: fixed;
    border-radius: 400px;
    z-index: 99;
    top:25vh;
    left:41.65vw;
    transform: scale(0.5);
}

.rectangle2703{
    width: 16.66vw;
    height: 50vh;
    background-color: #FC474C;
    position: fixed;
    border-radius: 400px;
    z-index: 99;
    top:25vh;
    left:66.66vw;
    transform: scale(0.5);
}

.rectangle2801{
    width: 33.33vw;
    height: 50vh;
    background-color: #FC474C;
    position: fixed;
    z-index: 99;
    margin-top:0;
    left:0;
    transform: scale(0.5);
}
.rectangle2802{
    width: 33.33vw;
    height: 50vh;
    background-color: #FC474C;
    position: fixed;
    z-index: 99;
    margin-top:0;
    left:33.33vw;
    transform: scale(0.5);
}

.rectangle2803{
    width: 33.33vw;
    height: 50vh;
    background-color: #FC474C;
    position: fixed;
    z-index: 99;
    margin-top:0;
    left:66.66vw;
    transform: scale(0.5);
}

.rectangle2901{
    width: 100vw;
    height: 50vh;
    margin-top: 50vh;
    background-color: #FC474C;
    position: fixed;
    z-index: 99;
    left: 0;
}

.rectangle3101{
    width: 100vw;
    height: 100vh;
    top: 0;
    background-color: #FC474C;
    position: fixed;
    z-index: 99;
    left: 0;
    transform: scale(0.5);
}


.rectangle3301{
    width: 33.33vw;
    height: 100vh;
    top: 0;
    background-color: #FC474C;
    position: fixed;
    z-index: 99;
    left: 0;
}
.rectangle3302{
    width: 33.33vw;
    height: 100vh;
    top: 0;
    background-color: #FC474C;
    position: fixed;
    z-index: 99;
    left: 33.33vw;
}
.rectangle3303{
    width: 33.33vw;
    height: 100vh;
    top: 0;
    background-color: #FC474C;
    position: fixed;
    z-index: 99;
    left: 66.66vw;
}



.rectangle3501{
    width: 100vw;
    height: 100vh;
    top: 0;
    border-radius: 500px;
    background-color: #FC474C;
    position: fixed;
    z-index: 99;
    left:0;
}

.rectangle3601{
    width: 150vw;
    height: 100vh;
    top: 0;
    border-radius: 500px;
    background-color: #FC474C;
    position: fixed;
    z-index: 99;
    left:0;
}
.rectangle3602{
    width: 100vw;
    height: 100vh;
    top: 0;
    border-radius: 500px;
    background-color: #FC474C;
    position: fixed;
    z-index: 99;
    left:0;
}

.rectangle3801{
    width: 100vw;
    height: 33.3vh;
    top: 0;
    background-color: #FC474C;
    position: fixed;
    z-index: 99;
    left:0;
}
.rectangle3802{
    width: 100vw;
    height: 33.3vh;
    top: 33.3vh;
    background-color: #FC474C;
    position: fixed;
    z-index: 99;
    left:0;
}
.rectangle3803{
    width: 100vw;
    height: 33.3vh;
    top: 66.6vh;
    background-color: #FC474C;
    position: fixed;
    z-index: 99;
    left:0;
}

.rectangle4301{
    width: 25vw;
    height: 25vw;
    top: 25vw;
    background-color: #FC474C;
    position: fixed;
    z-index: 99;
    left:0;
    border-radius: 100%;
}
.rectangle4302{
    width: 25vw;
    height: 25vw;
    top: 25vw;
    background-color: #FC474C;
    position: fixed;
    z-index: 99;
    left:25vw;
    border-radius: 100%;
}
.rectangle4303{
    width: 25vw;
    height: 25vw;
    top: 25vw;
    background-color: #FC474C;
    position: fixed;
    z-index: 99;
    left:50vw;
    border-radius: 100%;
}
.rectangle4304{
    width: 25vw;
    height: 25vw;
    top: 25vw;
    background-color: #FC474C;
    position: fixed;
    z-index: 99;
    left:75vw;
    border-radius: 100%;
}

.rectangle4601{
    width: 100vw;
    height: 100vh;
    top: 0;
    background-color: #FC474C;
    position: fixed;
    z-index: 99;
    left:0;
}

.rectangle4901{
    width: 20vw;
    height: 100vh;
    top: 0;
    border-radius: 100%;
    background-color: #FC474C;
    position: fixed;
    z-index: 99;
    left:0;
}

.rectangle4902{
    width: 20vw;
    height: 100vh;
    top: 0;
    border-radius: 100%;
    background-color: #FC474C;
    position: fixed;
    z-index: 99;
    left:20vw;
}

.rectangle4903{
    width: 20vw;
    height: 100vh;
    top: 0;
    border-radius: 100%;
    background-color: #FC474C;
    position: fixed;
    z-index: 99;
    left:40vw;
}

.rectangle4904{
    width: 20vw;
    height: 100vh;
    top: 0;
    border-radius: 100%;
    background-color: #FC474C;
    position: fixed;
    z-index: 99;
    left:60vw;
}

.rectangle4905{
    width: 20vw;
    height: 100vh;
    top: 0;
    border-radius: 100%;
    background-color: #FC474C;
    position: fixed;
    z-index: 99;
    left:80vw;
}